<h2 class="page-header">Reset Password</h2>
{{#if message}}
<div class="alert alert-danger">{{message}}</div>
{{/if}}
{{#if flag}}
<form method="post" action="/setting/reset-password">
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" placeholder="Email" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="reset" class="btn btn-danger">Reset</button>
</form>
{{else}}
<form method="post" action="/setting/reset-password-submit">
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="New Password" required>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
    </div>
    <input type="hidden" name="token" value="{{token}}">
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="reset" class="btn btn-danger">Reset</button>
</form>
{{/if}}